<div id="<%= dom_id todo %>">
  <p>
    <strong>Name:</strong>
    <%= todo.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= todo.tag %>
  </p>

  <p>
    <strong>Is done:</strong>
    <%= todo.is_done %>
  </p>

</div>
